main {
  background-color: white;
  color: black;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: grey;
}

@media only screen and (max-width: 430px) {
  #mainContainer {
    min-height: 100vh;

    color: blue;
  }
}
